@using SmartAdmin.WebUI.HtmlHelpers;
@model SmartAdmin.WebUI.ModelView.MensagemModelView
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="inbox-nav-bar no-content-padding">
    @Html.Partial("HeaderPartial")
</div>

<div id="inbox-content" class="inbox-body no-content-padding">
    <div class="inbox-side-bar">
        @Html.Partial("MenuPartial")
    </div>
    <div class="table-wrap custom-scroll animated fast fadeInRight" style="height: 520px; opacity: 1;">
        <h2 class="email-open-header">Re: @Model.MensagemTitulo
	        <a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="Imprimir" class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>
        </h2>
        <div class="inbox-info-bar" style="margin-right: 0px;">
            <div class="row">
                <div class="col-sm-9">
                    <strong><i>De:</i></strong><i> @Model.MensagemDestinatarioObject.LOGIN</i>
                    <span class="hidden-mobile"><<i>@Model.MensagemDestinatarioObject.EMAIL</i>><br />
               
                    <strong><i>Para:</i></strong><i> @Model.CollectionDestinatarios[0].LOGIN</i>
                    <span class="hidden-mobile"><<i>@Model.CollectionDestinatarios[0].EMAIL</i>><br />

                    <i><strong>Em</strong> @Model.MensagemDataEnvio.Value.Day.ToString() de @Model.MensagemDataEnvio.Value.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) de @Model.MensagemDataEnvio.Value.Year.ToString() às @Model.MensagemDataEnvio.Value.ToString("HH:MM")</i></span>
                </div>
                <div class="col-sm-3 text-right">
                    <div class="btn-group text-left">
                        <button class="btn btn-primary btn-sm replythis">
                            <i class="fa fa-reply"></i> Opções
                        </button>
                        <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);" class="replythis"><i class="fa fa-reply"></i> Responder</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-trash-o"></i> Apagar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
        <div style="width:700px; padding:20px 0px 20px 0px;">
            @Html.Raw(Model.MensagemTexto)
        </div>
    </div> 
</div>



