@using SmartAdmin.WebUI.HtmlHelpers
@model SmartAdmin.Dto.MenuDto
@using (Html.BeginForm("Save", "Menu", FormMethod.Post, new { @id = "smart-form-edit", @class = "smart-form" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(model => Model.ID, new { id = "ID" })
    @Html.Hidden("COD_MENU_PAI","0", new { id = "COD_MENU_PAI" })
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="label">Nome do menu</label>
                <label class="input">
                    <i class="icon-append fa fa-tasks"></i>
                    @HtmlControls.TextBox("NOME", new { @value = Model.NOME, @placeholder = "Menu do sistema", @tabindex = "1" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i>Nome do menu no sistema 
                    </b>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">Controller do Menu</label>
                <label class="input">
                    <i class="icon-append fa fa-sitemap"></i>
                     @HtmlControls.TextBox("CONTROLLER", new { @value = Model.CONTROLLER, @placeholder = "Controller do Menu", @tabindex = "2" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i>Controller do menu no sistema 
                    </b>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">Ação do menu</label>
                <label class="input">
                    <i class="icon-append fa fa-random"></i>
                    @HtmlControls.TextBox("ACTION", new { @value = Model.ACTION, @placeholder = "Action do Menu", @tabindex = "3" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i>Action do menu no sistema 
                    </b>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">Icone</label>
                <label class="input">
                    <i class="icon-append fa fa-leaf"></i>
                    @HtmlControls.TextBox("ICONE", new { @value = Model.ICONE, @placeholder = "Icone do Menu", @tabindex = "4" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i>Icone do menu no sistema 
                    </b>
                </label>
                <div class="note">
                    <strong>Nota:</strong> Insira o padrão de icone font-awesome veja a lista <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">aqui</a>.
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col col-3">
                <label class="label">Status do usuário</label>
                <label class="select">
                    @HtmlControls.DropDownListCustomStatus("STATUS", ((Model.STATUS == "A") ? EInputStatus.Ativo : EInputStatus.Inativo))
                    <i></i>
                </label>
            </section>
        </div>
    </fieldset>

    <footer>
        <button type="submit" class="btn btn-warning" id="btnEditMenuMain">
            Salvar
        </button>
        <a href="/Menu/Index" class="btn btn-primary">
            Voltar
        </a>
    </footer> 
}  
