@using SmartAdmin.WebUI.HtmlHelpers;
@model SmartAdmin.Dto.UsuarioDto

<script src="~/Content/js/plugin/jquery-webcam/jquery.webcam.js"></script>
<script>

    $(document).ready(function () {  
        $("#webcam-shooter").webcam({
                width: 250,
                height: 250,
                mode: "save",
                swffile: "@Url.Content("~/Content/js/plugin/jquery-webcam/jscam_canvas_only.swf")",
            onTick: function () { },
            onSave: function () {
            },
            onCapture: function () {
                webcam.save("@Url.Content("~/Usuario/Capture")/");
                    },
            debug: function () { },
            onLoad: function () {
                $("#capture").on("click", webcam.capture);
            }
        });  

        $('#start-webcam').click(function () {
            $('#modal-webcam').modal('show');
        });
    });

</script>  

@using (Html.BeginForm("Save", "Usuario", FormMethod.Post, new { @id = "smart-form-edit", @class = "smart-form" }))
{
    @Html.HiddenFor(model => Model.ID, new { id = "ID" })
    @Html.HiddenFor(model => Model.STATUS, new { id = "STATUS" })
    @Html.HiddenFor(model => Model.DTH_CRIACAO, new { id = "DTH_CRIACAO" })
    <fieldset>
        <div class="row">
            <div class="col-sm-2">
                <img id="start-webcam" style="margin: 0px 10px 5px 10px; border: 6px solid #e3e3e3; width: 150px; height: 150px;" src="~/Content/img/avatars/sunny-big.png" />
            </div>
            <div class="col-sm-10">           
                <h1>@Model.NOME<br/><small>Usuário Administrador</small></h1>   
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                     @HtmlControls.TextBox("NOME", new { @value = Model.NOME, @placeholder = "Nome completo do usuário", @class="text-uppercase" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Nome completo do usuário
                    </b>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="input">
                    <i class="icon-prepend fa fa-envelope-o"></i>
                     @HtmlControls.TextBox("EMAIL", new { @value = Model.EMAIL, @placeholder = "E-mail de contato" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> E-mail de contato
                    </b>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-3">
                <label class="input">
                    <i class="icon-prepend fa fa-phone"></i>
                     @HtmlControls.TextBox("TELEFONE", new { @value = Model.TELEFONE, @placeholder = "Telefone de contato", @class="phonemask"  })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Informe seu telefone
                    </b>
                </label>
            </section>
            <section class="col col-3">
                <label class="input">
                    <i class="icon-prepend fa fa-phone"></i>
                     @HtmlControls.TextBox("CELULAR", new { @value = Model.CELULAR, @placeholder = "Celular de contato", @class="phonemask" })
                     <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Informe seu celular
                    </b>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-3">
                <label class="select">
                    @HtmlControls.DropDownListCustomSexo("SEXO",((Model.SEXO != null) ? ((Model.SEXO == "M") ? EInputSexo.M : EInputSexo.F ) : EInputSexo.None), false, new { @tabindex = "3" })
                    <i></i>
                </label>
            </section>
            <section class="col col-3">
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                    @HtmlControls.TextBox("CPF_CNPJ", new { @value = Model.CPF_CNPJ, @placeholder = "Documento Cpf ou Cnpj", @tabindex = "4", @readonly = "true" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Cpf ou Cnpj
                    </b>
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset> 
        <div class="row">
            <section class="col col-5">
                <label class="input">
                    @HtmlControls.TextBox("ENDERECO", new { @value = Model.ENDERECO, @placeholder = "Informe seu Endereco" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Informe seu endereço
                    </b>
                </label>
            </section>
            <section class="col col-1">
                <label class="input">
                    @HtmlControls.TextBox("NUMERO", new { @value = Model.NUMERO, @placeholder = "Nº", @class="integer"})
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Número
                    </b>
                </label>
            </section>
        </div>   
        <div class="row">
            <section class="col col-3">
                <label class="input">
                    @HtmlControls.TextBox("BAIRRO", new { @value = Model.BAIRRO, @placeholder = "Informe seu Bairro" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Informe seu Bairro
                    </b>
                </label>
            </section>  
            <section class="col col-3">
                <label class="input">
                    @HtmlControls.TextBox("CIDADE", new { @value = Model.CIDADE, @placeholder = "Informe sua Cidade" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Informe sua Cidade
                    </b>
                </label>
            </section>
        </div> 
        <div class="row">  
            <section class="col col-3">
                <label class="input">
                    @HtmlControls.TextBox("CEP", new { @value = Model.CEP, @placeholder = "Cep", @class = "cep" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i>Informe seu cep
                    </b>
                </label>
            </section>   
            <section class="col col-3">
                <label class="select">
                    @HtmlControls.DropDownListCustomUF("UF",EInputUF.SP)
                    <i></i>
                </label>
            </section>
        </div>  
        <div class="row">
            <section class="col col-3">
                <label class="select">
                    @HtmlControls.DropDownListCustomPais("PAIS", Model.PAIS)
                    <i></i>
                </label>
            </section> 
        </div>
    </fieldset>   
    <fieldset>
        <div class="row">
            <section class="col col-3">
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                    @HtmlControls.TextBox("LOGIN", new { @value = Model.LOGIN, @placeholder = "Usuário de acesso", @readonly="true" })
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-3">
                <label class="input">                    
                    <i class="icon-prepend fa fa-lock"></i>
                    @HtmlControls.Password("SENHA", new { @value = string.Empty, @placeholder = "Senha de acesso" })
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i> Senha de acesso
                    </b>
                </label>
            </section>
        </div>
    </fieldset>
    <footer>
        <button id="btnSaveUsuario" type="submit" class="btn btn-warning">
            Salvar
        </button>
        <a href="/Usuario/Index" class="btn btn-primary">
            Voltar
        </a>
    </footer>
} 

<div id="modal-webcam" class="modal fade" role="dialog" aria-labelledby="modal-webcam">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-12"><div id="webcam-shooter"></div></div>
          </div>
@*          <div class="row">
            <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
            <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              Level 1: .col-sm-9
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  Level 2: .col-xs-8 .col-sm-6
                </div>
                <div class="col-xs-4 col-sm-6">
                  Level 2: .col-xs-4 .col-sm-6
                </div>
              </div>
            </div>
          </div>*@
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



